html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: SVN-BlowBrush;
  src: url(../font/SVN-BlowBrush.ttf); }

.flex-noward {
  flex-wrap: nowrap !important; }

.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flex-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }

:root {
  --black: #000;
  --black1: #231f20;
  --black2: #292b29;
  --gray: #999;
  --gray1: #ebebeb;
  --orange: #f2982e; }

body {
  font-family: Avo, sans-serif;
  font-size: 12px;
  background: #100a1f; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.playable_ads {
  max-width: 800px;
  margin: 0 auto;
  position: relative; }
  .playable_ads img.bg {
    max-width: 100%; }
  .playable_ads .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .playable_ads .logo {
    display: block;
    width: 27.2%;
    margin: 2% 0 0 2%; }
  .playable_ads .star {
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    width: 19.8%;
    top: 2%;
    z-index: 10; }
  .playable_ads .bd {
    width: 54.4%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .playable_ads .cursor {
    width: 50px;
    height: 52px;
    display: block;
    background: url("../images/cursor.png") no-repeat;
    position: absolute;
    bottom: 16%;
    left: 33%;
    animation: cursor 0.6s infinite linear;
    z-index: 9; }

.list-char li {
  display: block;
  width: 15.75%;
  position: absolute;
  transition: .3s; }

.list-char .active {
  -webkit-filter: saturate(2.1);
  filter: saturate(2.1); }

.list-char .current {
  transform: scale(1.04); }

.list-char li:nth-child(1) {
  bottom: 11%;
  left: 15%; }

.list-char li:nth-child(2) {
  bottom: 18.5%;
  left: 28.5%; }

.list-char li:nth-child(3) {
  bottom: 3%;
  left: 28.5%; }

.list-char li:nth-child(4) {
  bottom: 10.8%;
  left: 41.5%; }

.list-char li:nth-child(5) {
  bottom: 18%;
  left: 54.5%; }

.list-char li:nth-child(6) {
  bottom: 3%;
  left: 54.3%; }

.list-char li:nth-child(7) {
  bottom: 10.5%;
  left: 67.5%; }

.list-char img {
  max-width: 100%; }

.list-char li a {
  cursor: url("../images/cursor.png"), auto; }

.char {
  text-align: center;
  position: relative; }
  .char__img {
    margin: 0 auto;
    position: relative;
    z-index: 9; }
  .char__effect {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 0; }
    .char__effect .ef1 {
      position: relative;
      z-index: 8; }
    .char__effect .ef2 {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto; }
  .char__name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    width: 27%;
    height: 20.5%;
    background: url(../images/btn.png) no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: 1% auto 0;
    color: #fff;
    font: 4vw SVN-BlowBrush, sans-serif;
    text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
    text-transform: uppercase;
    animation: flipInX .5s linear; }
    @media (min-width: 800px) {
      .char__name {
        font-size: 26px; } }
  .char img {
    max-width: 100%; }

.nartuto .char__img {
  width: 27%;
  margin-top: -5.5%; }

.nartuto .ef1 {
  width: 56.6%;
  margin: 3% 0 0 2%; }

.nartuto .ef2 {
  width: 43.5%;
  margin-top: -1.6%;
  animation: rotate 1.5s infinite linear; }

.asuna .char__img {
  width: 34.2%;
  margin-top: -7.5%; }

.asuna .ef1 {
  width: 53.8%;
  margin: -6% 0 0 0;
  transition: transform .3s;
  animation: asuna_e1 .3s linear; }

.asuna .ef2 {
  width: 40%;
  margin-top: 4%;
  animation: pulse 1s infinite linear; }

.ichigo .char__img {
  width: 55.4%;
  margin: -9% 0 0 26.5%; }

.ichigo .ef2 {
  width: 41%;
  margin: 5% auto 0;
  animation: rotate 1.5s infinite linear; }

.ichigo .ef1 {
  width: 62.5%;
  margin-top: 19%;
  animation: ichigo_e1 .3s linear; }

.ichigo .char__name {
  width: 27%;
  height: 19%;
  margin-top: -3%; }

.levi .char__img {
  width: 26%;
  margin-top: -8%;
  animation-duration: 0.5s; }

.levi .ef1 {
  width: 43.88%;
  margin-top: 26.5%;
  animation: bounceIn .5s; }

.levi .ef2 {
  width: 41%;
  margin-top: 3%;
  animation: rotate 1.5s infinite linear; }

.miku .char__img {
  width: 47.4%;
  margin-top: -8%; }

.miku .ef1 {
  width: 62.5%;
  margin-top: 9%;
  animation: bounceIn .5s; }

.miku .ef2 {
  width: 43.8%;
  margin-top: -2%;
  animation: flight .5s infinite linear; }

.luffy .char__img {
  width: 32.4%;
  margin-top: -8.8%; }

.luffy .ef1 {
  width: 62.5%;
  margin-top: 10%;
  animation: zoomIn .9s; }

.luffy .ef2 {
  width: 43.6%;
  animation: rotate 1s infinite linear; }

.songoku .char__img {
  width: 47.5%;
  margin: -14.5% 0 0 29%; }

.songoku .ef1 {
  width: 48.5%;
  margin-top: 6%;
  animation: rotate 1.5s infinite linear; }

.songoku .char__name {
  margin-top: 0;
  height: 17.5%; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes ichigo_e1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@-webkit-keyframes asuna_e1 {
  0% {
    transform: translate(40%, -20%); }
  100% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes asuna_e1 {
  0% {
    transform: translate(40%, -20%); }
  100% {
    transform: translate(0, 0); } }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

.flash {
  -webkit-animation-name: flash;
  animation-name: flash; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX; }

@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight; }

@-webkit-keyframes flight {
  0% {
    filter: saturate(0.5); }
  50% {
    filter: saturate(2); }
  100% {
    filter: saturate(0.5); } }

@keyframes flight {
  0% {
    filter: saturate(0.5); }
  50% {
    filter: saturate(2); }
  100% {
    filter: saturate(0.5); } }

@-webkit-keyframes movie_on {
  0% {
    transform: translateY(-60px) scale(0); }
  100% {
    transform: translateY(0) scale(1); } }

@keyframes movie_on {
  0% {
    transform: translateY(-60px) scale(0); }
  100% {
    transform: translateY(0) scale(1); } }

.movie_on {
  animation-name: movie_on; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

@-webkit-keyframes cursor {
  0% {
    transform: translate(10px, 10px); }
  100% {
    transform: translate(0, 0); } }

@keyframes cursor {
  0% {
    transform: translate(10px, 10px); }
  100% {
    transform: translate(0, 0); } }
